html,
body,
#root {
  width: 100%;
  height: 100%;
}
#root {
  /* position:fixed ; */
  background-color: black;
  /* background-image: url("./bg.jpg"); */
  background-size: cover;
}
.text-hollow {
  -webkit-text-stroke: 1px rgb(61, 162, 199);
  color: white;
}
#textglow {
  position: relative;
  background: url("https://plus.unsplash.com/premium_photo-1672053732675-3e008b635afa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
}
#textglow::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;width: 100%;
  height: 100%;
  background: url("https://plus.unsplash.com/premium_photo-1672053732675-3e008b635afa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
    filter: blur(40px);
    opacity: 0.8;
}
#textglow::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;width: 100%;
  height: 100%;
  background: url("https://plus.unsplash.com/premium_photo-1672053732675-3e008b635afa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
    filter: blur(20px);
    opacity: 0.8;
}
